# zenn

[![Likes](https://badgen.org/img/zenn/raki/likes?style=for-the-badge)](https://zenn.dev/raki)
[![Followers](https://badgen.org/img/zenn/raki/followers?style=for-the-badge)](https://zenn.dev/raki)
[![Articles](https://badgen.org/img/zenn/raki/articles?style=for-the-badge)](https://zenn.dev/raki)
[![Books](https://badgen.org/img/zenn/raki/books?style=for-the-badge)](https://zenn.dev/raki?tab=books)
[![Scraps](https://badgen.org/img/zenn/raki/scraps?style=for-the-badge)](https://zenn.dev/raki?tab=scraps)

<!-- prettier-ignore-start -->

{{- $currentYear := "" }}
{{- range (ds "articles") }}
  {{- if and (ne .year "") (ne .year $currentYear) }}

## {{ .year }}
{{$currentYear = .year }}
  {{- end }}
- [{{ .date }}] [{{ .title }}]({{ .path }})
{{- end }}

<!-- prettier-ignore-end -->
