# zenn

[![Likes](https://badgen.org/img/zenn/raki/likes?style=for-the-badge)](https://zenn.dev/raki)
[![Followers](https://badgen.org/img/zenn/raki/followers?style=for-the-badge)](https://zenn.dev/raki)
[![Articles](https://badgen.org/img/zenn/raki/articles?style=for-the-badge)](https://zenn.dev/raki)
[![Books](https://badgen.org/img/zenn/raki/books?style=for-the-badge)](https://zenn.dev/raki?tab=books)
[![Scraps](https://badgen.org/img/zenn/raki/scraps?style=for-the-badge)](https://zenn.dev/raki?tab=scraps)

<!-- prettier-ignore-start -->

<details open>

{{- $currentYear := "" }}
{{- range (ds "articles") }}
  {{- if and (ne .year "") (ne .year $currentYear) (ne $currentYear "") }}

</details>

<details>
  {{- end }}
  {{- if and (ne .year "") (ne .year $currentYear) }}
<summary>{{ .year }} 年の記事</summary>
{{$currentYear = .year }}
  {{- end }}
- {{ .date }} [
{{- $no_lf := ""}} [:memo:]({{ .path }})
{{- if eq .publication_name "none" }} _ {{- end -}}
{{- if eq .publication_name "terraform_jp" }} T {{- end -}}
{{- $no_lf := ""}} ] [{{ .title }}](https://zenn.dev/raki/articles/{{ .filename | strings.TrimSuffix ".md" }})
{{- end }}

</details>

<!-- prettier-ignore-end -->
